[submodule "tools/pigz"]
	path = tools/pigz
	url = https://github.com/madler/pigz.git
[submodule "tools/terashuf"]
	path = tools/terashuf
	url = https://github.com/alexandres/terashuf.git
[submodule "tools/marian-dev"]
	path = tools/marian-dev
	url = https://github.com/marian-nmt/marian-dev.git
[submodule "tools/OpusTools-perl"]
	path = tools/OpusTools-perl
	url = https://github.com/Helsinki-NLP/OpusTools-perl.git
[submodule "tools/LanguageCodes"]
	path = tools/LanguageCodes
	url = https://github.com/Helsinki-NLP/LanguageCodes.git
[submodule "tools/fast_align"]
	path = tools/fast_align
	url = https://github.com/clab/fast_align.git
[submodule "tools/eflomal"]
	path = tools/eflomal
	url = https://github.com/robertostling/eflomal
[submodule "tools/moses-scripts"]
	path = tools/moses-scripts
	url = https://github.com/marian-nmt/moses-scripts.git
[submodule "tools/subword-nmt"]
	path = tools/subword-nmt
	url = https://github.com/rsennrich/subword-nmt.git
[submodule "tools/jq"]
	path = tools/jq
	url = https://github.com/stedolan/jq.git
[submodule "OPUS-MT-testsets"]
	path = OPUS-MT-testsets
	url = https://github.com/Helsinki-NLP/OPUS-MT-testsets.git
[submodule "tools/browsermt/marian-dev"]
	path = tools/browsermt/marian-dev
	url = https://github.com/browsermt/marian-dev.git
